<div class="col-xs-12 image-col">
  <div class='row'>
    <img class='image-article' src= {{article.image}} alt= {{article.title}}>
    <p class="">{{article.title}}</p>
    <p>{{article.body}}</p>
    <p class="">{{article.author}}</p>
    <p class="">{{article.date}}</p>
  </div>
</div>
<div class="col-xs-12 image-col">
  <ul>
    <h3>Comments</h3>
    {{#each article.comments as |comment|}}
      {{comment-tile comment=comment}}
    {{/each}}
  </ul>
</div>
{{yield}}
