<div class='row'>
  <div class="col-xs-12 main-article">
    <img class='image-article' src= {{article.image}} alt= {{article.title}}>
    <p class="title-article">{{article.title}}</p>
    <p>{{article.body}}</p>
    <p class="">{{article.author}}</p>
    <p class="">{{article.date}}</p>
  </div>
</div>
{{yield}}
